.navBar{
  position: absolute;
  width: 600px;
  height: 50px;
  left: calc(50% - 300px);
  border-top: 1px solid rgba(0,0,0,.05);
}

.navBar ul{
  text-align: left;
  padding: 0;
}

.navBar ul li{
  list-style: none;
  float: left;
  display: table-cell;
  vertical-align: middle;
  padding: 0 20px 0 0;
  font-size: 16px;
}

.navBar ul li a{
  text-decoration: none;
  color: black;
}